:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ee6e73 #f4f4f4;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  transition: all 0.3s ease-out;
}

*::-webkit-scrollbar:hover {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: #f4f4f4;
}

*::-webkit-scrollbar-thumb {
  background-color: #ee6e72c4;
  border-radius: 2rem;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ee6e72c4;
}

body {
  overflow-x: hidden;
}

.full-height {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  flex: 1 0 auto;
}

.brand-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.brand-logo h1 {
  font-size: 1.65rem !important;
  display: inline;
  margin: 0;
  padding: 0;
}

.hero-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/hero.jpg');
  background-position-x: center;
  background-position-y: bottom;
  margin: 0;
  padding: 0;
  width: 100%;
}

.hero-overlay {
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-group * ~ * {
  margin-left: 1rem;
}

.card-content {
  overflow-wrap: break-word;
}

.card-action {
  display: flex;
  justify-content: flex-start;
}

.card-action * ~ * {
  margin-left: 1rem;
}

.card-action .del-btn {
  margin-left: auto;
}
